.App {
  text-align: center;
}

.telephone-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}
.telephone-icon .hover{
  cursor: 'pointer';
  transform: 'scale(1.015)';
  transition: '0.15s linear';
  box-shadow:' 1px 1px 22px rgba(157, 184, 209, 0.5)';
}